.container-fluid {
  width: 70%;
  margin: auto;
  text-align: center;
}

.def {
  min-height: 100vh;
}

.p1, .p2 {
  text-align: center;
  display: inline-block;
}

body {
  background-image: linear-gradient(#3C4048, #000000);
  background-size: cover;
  padding-bottom: 0;
}

h1 {
  margin: 0 30px 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: gold;
  height: 7rem;
}

p {
  font-size: 2.5rem;
  color: lightyellow;
  font-family: 'Indie Flower', cursive;
}

.footer-link {
  display: inline-block;
  color: white;
  margin: 0 0.2rem 0.4rem;
}

img {
  width: 40%;
  margin: 0.4rem 0;
}

.btn {
  font-family: 'Lobster', cursive;
  margin-top: 2rem;
}

.foot {
  margin-top: 3rem;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.abc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 1028px) {
  .msg {
    padding-top: 30px;
    font-size: 2.8rem;
    text-align: center;
    font-family: 'Lobster', cursive;
  }

  .dicee {
    margin-top: 5rem;
    display: inline-flex;
  }

  p {
    font-size: 1.7rem;
    font-family: 'Indie Flower', cursive;
  }

  img {
    width: 55%;
  }

  .foot {
    padding-top: 2.5rem;
  }
}
